<footer class="bg-violet-600 h-24 px-10 py-4 flex items-center justify-center shadow-md text-white">
	<div class="text-center">
		<p class="font-bold text-xl" id="logo">SYMFO</p>
		<p class="text-sm">©
			{{ "now"|date("Y") }}
			<a href="">Symfo</a>
		</p>
	</div>
	{# <div class="px-7 text-center flex flex-col gap-1 h-full">
			<h3 class="">Links</h3>
			<ul class="">
				<li><a class="" href="#">Players</a></li>
				<li><a class="" href="#">Users</a></li>
			</ul>
		</div> #}
</footer>
